body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 737px;
}

.yo {
    padding-top: 230px;
}

.soy {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 72pt;
}

.nombre {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 72pt;
}

.lineas {
    margin-left: 35%;
    margin-right: 35%;
}

.texto {
    margin-top: 84px;
    padding-left: 100px;
    padding-right: 100px;
}

.texto h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25pt;
}

.linea-texto {
    margin-left: 45%;
    margin-right: 45%;
}
