body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 737px;
}

.yo {
    padding-top: 230px;
}

.soy {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 72pt;
}

.nombre {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 72pt;
}


.lineas {
    margin-left: 35%;
    margin-right: 35%;
}

