body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url('../img/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 737px;
}

.yo {
    padding-top: 230px;
}

.soy {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 72pt;
}

.nombre {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 72pt;
}

.lineas {
    margin-left: 35%;
    margin-right: 35%;
}

.texto {
    margin-top: 84px;
    padding-left: 100px;
    padding-right: 100px;
}

.texto h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25pt;
}

.linea-texto {
    margin-left: 45%;
    margin-right: 45%;
}

.titulo-lorem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25pt;
    color: #373A3C;
}

.lorem {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: #373A3C;
}

.experiencia {
    margin-top: 47.5px;
    margin-bottom: 88px;
    height: 431px;
}

.iconos {
    font-size: 150px;
}

.experiencia h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 52pt;
    color: #373A3C;
}

.fab {
    color: #660066;
}

.fas {
    color: #660066;
}

.experiencia h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 25pt;
    color: #373A3C;
}

.linea-texto {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 35px;
}

.experiencia p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 25pt;
    color: #373A3C;
    margin-bottom: 35px;
}

.trabajos {
    background-color: #660066;
    height: 1200px;
}

.trabajos h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35pt;
    padding-top: 61px;
    padding-bottom: 10px;
}

.cartas {
    margin-left: 12.5%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: #373A3C;
}

.cartas h5 {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 23pt;
}

.contacto {
    height: 723px;
}

.contacto h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 52pt;
}

.pie {
    background-color: #660066;
    height: 218px;
}

.felipe {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40pt;
    padding-left: 284px;
    padding-top: 84px;
}

.social i {
    color: #ffffff;
    font-size: 50px;
}

.social {
    padding-top: 92px;
    padding-left: 460px;
}

@media (max-width: 767.98px) {

    header {
        background-repeat: no-repeat;
        background-size: cover;
        height: 507px;
    }

    .yo {
        padding-top: 140px;
    }
    
    .soy {
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        font-size: 40pt;
    }

    .nombre {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 60pt;
    }
    
    .experiencia {
        margin-top: 47.5px;
        margin-bottom: 88px;
        height: 679px;
    }
    
    .iconos {
        font-size: 150px;
    }
    
    .experiencia h3 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 35pt;
        color: #373A3C;
    }
    
    .fab {
        color: #660066;
    }
    
    .fas {
        color: #660066;
    }
    
    .experiencia h5 {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 25pt;
        color: #373A3C;
    }
    
    .experiencia p {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 25pt;
        color: #373A3C;
    }
    
    .trabajos {
        background-color: #660066;
        height: 2800px;
        padding-bottom: 100px;
    }
    
    .trabajos h5 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 35pt;
        padding-top: 61px;
        padding-bottom: 10px;
    }
    
    .cartas {
        padding-left: 8%;
        margin: 0;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16pt;
        color: #373A3C;
    }
    
    .cartas h5 {
        text-align: left;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 17pt;
    }
    
    .contacto {
        height: 531px;
    }
    
    .contacto h3 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 52pt;
    }
    
    .pie {
        margin-top: 130px;
        background-color: #660066;
        height: 218px;
    }
    
    .felipe {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 25pt;
        margin: 0;
        padding-left: 20%;
    }
    
    .social i {
        color: #ffffff;
        font-size: 40px;
    }
    
    .social {
        padding: 5em 0 0 1em;
        margin: 0;
    }
}